# ============================================================
#  ft_transcendence — .env.example
#  Copy to .env and fill in values
#  Never commit .env to Git
# ============================================================

# Database — MariaDB
MARIADB_HOST=mariadb
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=ft_transcendence

# Backend — Nest.js
BACKEND_PORT=3000

# NESTAUTH_URL=https://dancel.42.fr
NESTAUTH_URL=https://localhost
NESTAUTH_SECRET=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=3600

# Frontend — React
VITE_API_URL=https://localhost/api
VITE_WS_URL=wss://localhost/ws

# WebSocket
WS_PORT=9000

# # OAuth — Google
# OAUTH_GOOGLE_CLIENT_ID=
# OAUTH_GOOGLE_CLIENT_SECRET=


# # OAuth — GitHub
# OAUTH_GITHUB_CLIENT_ID=
# OAUTH_GITHUB_CLIENT_SECRET=

# # 2FA
# TOTP_ISSUER=ft_transcendence

# # Vault
# VAULT_ADDR=http://vault:8200
#